<div class="container">
    <form>
        <div class="mb-3">
            <label class="form-label">Nome Pizza</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Descrizione</label>
            <textarea type="text" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Crea!</button>
    </form>